@import 'yaml-sass/core/base';
@import 'yaml-sass/navigation/hlist';
@import 'yaml-sass/screen/typography';
// reset some YAML classes
.error, .info, .success, .info, .warning {
  background:transparent;
}

$fa-font-path:'font-awesome/fonts'; // set font path
@import 'font-awesome/scss/font-awesome';

// droid font
$ycu-var-path-droid-font:'font-droid';
@import 'font-droid';

$ycu-var-font-sans:"Droid Sans",Arial,Helvetica,sans-serif;
$ycu-var-font-input:Arial, Helvetica, sans-serif;
$ycu-var-color-header-bg:#444;
$ycu-var-color-header-fg:#ccc;
$ycu-var-color-footer-bg:$ycu-var-color-header-bg;
$ycu-var-color-footer-fg:$ycu-var-color-header-fg;
$ycu-var-color-page-bg:#E9F3F9;
$ycu-var-color-link:#4D87C7;
$ycu-var-color-sumbenu-bg:#666;
$ycu-var-color-nav-bg:#222;
$ycu-var-color-nav-border:#94C6E4;
$ycu-var-color-fieldset-bg:#DEE6F3;
$ycu-var-color-fieldset-fg:#18294A;
$ycu-var-color-table-cell-base:$ycu-var-color-fieldset-bg;
// feedback colors
$ycu-var-color-error-bg:#D39583;
$ycu-var-color-error-text:#D01F14;
$ycu-var-color-help-bg:#AAD2E6;
$ycu-var-color-info-bg:#D7FF9E;
$ycu-var-color-info-text:#1A1074;
$ycu-var-color-ok-bg:#94E84D;
$ycu-var-color-ok-text:#1B9532;
$ycu-var-color-warning-bg:#CED452;
$ycu-var-color-warning-text:#DBA339;
$ycu-var-icon-msg-ok:$fa-var-check-circle;
$ycu-var-icon-msg-help:$fa-var-question-circle;
$ycu-var-icon-msg-info:$fa-var-info-circle;
$ycu-var-icon-msg-warning:$fa-var-exclamation-triangle;
$ycu-var-icon-msg-error:$fa-var-minus-circle;

.ym-wbox {
  padding:1.5em;
}

$ycu-icon-fontsize:0.85em;

%font-sans {
  font-family:$ycu-var-font-sans;
}
%font-input {
  font-family:$ycu-var-font-input;
}

%blink-text {
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

%opaque-light {
  opacity:0.7;
}
@mixin icon-font {
  font-family:FontAwesome;
}
%icon {
  @include icon-font;
  font: {
    style:normal;
    size:$ycu-icon-fontsize;
  }
}
@mixin icon {
  @extend %icon;
}
%icon-block {
  @include icon;
  display:inline-block;
}
@mixin icon-light {
  @include icon;
  @extend %opaque-light;
}
%icon-block-light {
  @include icon-light;
  @extend %icon-block;
}

#devInfo {
  font-family:monospace;
  white-space:pre;
  margin:1em;
  padding:0.5em;
  border:2px solid red;
  border-radius:5px;
  background-color:#EA9A89;
  color:#000;
  overflow:auto;
}

@import 'forms';

a {
  color:$ycu-var-color-link;

  // icon-only links
  &.iconic:active,
  &.iconic:hover {
    background-color:transparent;
    color:$ycu-var-color-link;
  }
}
a[href^="http://"],
a[href^="https://"] {
  &:not(.noExt):before {
    @extend %icon-block-light;
    font-size:0.7em;
    content:'#{$fa-var-share-square-o}\00a0';
  }
}
.noExtLinkIcon a:before {
  display:none !important;
}

/** Base */
body {
  background-color:$ycu-var-color-page-bg;
  counter-reset:h1-counter;
}

main {
  margin-top:1em;
}

// special div elements
div {
  &.clear {
    height:0;
    width:0;
    clear:both;
  }

  // display like p
  .p {
    @extend p;
  }

  .center {
    text-align:center;
  }
}

iframe {
  display:block;
  width:100%;
  overflow:hidden; // same as scrolling=no
}

// non breakable content
.nobr {
  white-space:nowrap;
}

h1 {
  font-size:200%;
}
h2 {
  font-size:170%;
}
h3 {
  font-size:150%;
}
h4, h5, h6 {
  font-size:130%;
}
.tt {
  @extend tt;
}
.blink {
  @extend %blink-text;
}

/**********
* Page layout. */
header {
  background-color:$ycu-var-color-header-bg;
  color:$ycu-var-color-header-fg;
  height:47px;

  .logo {
    @extend %font-sans;
    font: {
      size:0.8em;
      variant:small-caps;
      weight:bold;
      style:italic;
    }
    text-align:center;
    position:absolute;
    top:0.5em;
    left:0.5em;

    div {
      display:inline-block;
      position:relative;
      bottom:24px;
      letter-spacing:0.1em;
    }
  }
}

footer {
  color:$ycu-var-color-footer-fg;
  background-color:$ycu-var-color-footer-bg;
  position:fixed;
  bottom:0;
  width:100%;
  display:table;
  border-top:3px solid $ycu-var-color-nav-border;
  padding:0.3em 1em;
}

// footer log-in
#footerMenu {
  @extend %font-sans;
  display:table-row;
}
#logon_trigger.admin i {
  color:#FF6D00;
}
#logon_trigger.user i {
  color:#69DE6B;
}

/**********
* Special elements. */
// no link styling for special elements
.noHover,
#api {
  a.api {
    &:before {
      display:none;
    }

    &:active,
    &:hover {
      background-color:transparent;
    }
  }

  img.api {
    width:60px;
    height:40px;
  }
}

/* API bubble. */
#api {
  position:absolute;
  top:20px;
  right:1em;

  img.hasInfo {
    cursor:pointer;
  }
}

/**********
* Tables. */
// general tables
table {
  tbody {
    tr:not(.th):nth-child(odd) {
      background-color:darken($ycu-var-color-table-cell-base, 5);
    }

    tr:not(.th):nth-child(even) {
      background-color:darken($ycu-var-color-table-cell-base, 10);
    }

    tr:not(.th):hover {
      background-color:lighten($ycu-var-color-table-cell-base, 5);
    }
  }

  tr.th td,
  th {
    @extend %font-sans;
    vertical-align:bottom;
    color:#555;
    border-color:#555;
    font-weight:bold;
  }

  td.breakAll {
    word-wrap:break-word;
  }
}
// fixed width table
table.fixed {
  table-layout:fixed;
}
// sortable tables
table.sortable th:not(.noSort) {
  cursor:pointer;

  &:after {
    @extend %icon-block-light;
    content:'#{$fa-var-sort}';
    padding-left:0.3em;
  }

  &.headerSortDown:after {
    content:'#{$fa-var-caret-down}';
  }
  padding:0.25em 0.15em;
  &.headerSortUp:after {
    content:'#{$fa-var-caret-up}';
  }
}
// tables with multiple bodys
table.multiBody {
  tbody {
    &:nth-child(odd) {
      tr {
        background-color:darken($ycu-var-color-table-cell-base, 5) !important;
      }
    }
    &:nth-child(even) {
      tr {
        background-color:darken($ycu-var-color-table-cell-base, 10) !important;
      }
    }
    &:hover {
      tr {
        background-color:lighten($ycu-var-color-table-cell-base, 5) !important;
      }
    }
  }
}

// keyboard keys
code.key {
  @extend %font-sans;
  background:linear-gradient(to bottom, #ccc 0%, #fff 20%);
  padding:0.25em 0.15em;
  border-radius:0.5em;
  border:1px solid #666;
  line-height:1.8em;
}