/**
 * General form elements.
 */

// colors
$ycu-var-color-validation-valid:#94E84D;
$ycu-var-color-validation-invalid:#D39583;
$ycu-var-color-input-border:#758AAC;
$ycu-var-color-fieldset-bg:#DEE6F3;
$ycu-var-color-fieldset-fg:#18294A;
$ycu-var-color-fieldset-formgroup-bg:darken($ycu-var-color-fieldset-bg, 4);
$ycu-var-color-fieldset-border:darken($ycu-var-color-fieldset-formgroup-bg, 10);//#B8CBE1;
$ycu-var-color-fieldset-section-border:darken($ycu-var-color-fieldset-border, 10);
$ycu-var-color-legend-marker-bg:#94E84D;

// internal
$ycu-var-fieldset-legend-fontsize:1.2em;
$ycu-var-fieldset-legend-collapsed-fontsize:1em;
$ycu-var-fieldset-legend-padding-leftright:1.5em;
$ycu-var-fieldset-item-indent:2.2em;
$ycu-var-opacity-form-text-light:0.75;
$ycu-var-fieldset-legend-width:15em;

/**********
 * Forms elements */
input:not([type="range"]),
textarea,
select,
.ui-spinner {
  border:1px solid lighten($ycu-var-color-input-border, 20);
  line-height: 1em;
  @extend %font-input;
  @include ym-box-shadow(0,0,4px,#eee,inset);
  border-radius:3px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right:0.3em;

  + label {
    opacity:$ycu-var-opacity-form-text-light;
  }

  &:focus:enabled + label,
  &:active:enabled + label,
  &:hover:enabled + label,
  &:checked:enabled + label {
    opacity:1;
  }
}

label.indent {
  display:inline-block;
  text-indent:-2em;
  padding-left:2em;
}

input:not([type="range"]):focus:enabled,
select:focus:enabled,
textarea:focus:enabled,
input:not([type="range"]):hover:enabled,
select:hover:enabled,
textarea:hover:enabled,
input:not([type="range"]):active:enabled,
select:active:enabled,
textarea:active:enabled {
  border:1px $ycu-var-color-input-border solid;
  background:#fff;
}

input[type="image"],
input[type="radio"],
input[type="range"],
input[type="checkbox"] {
  border:0 none;// !important;
  background:transparent;// !important;
}

input[type='text'],
input[type="range"],
textarea {
  width:70%;
}

button {
  display:inline-block;
  white-space:nowrap;
  font:normal 1em/1.5em $ycu-var-font-input;
  text-decoration:none;
  text-shadow:0 1px 0 rgba(255,255,255,0.8);
  box-shadow:0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 rgba(0,0,0,0.15);
  background:linear-gradient(to bottom, #eee, #ccc);
  border:1px solid #777;
  border-radius:0.2em;
  color:#333;
  margin:0 0.75em 0 0;
  padding:0 1.5em;

  &.icon-run:before {
    content:'#{$fa-var-cog}\00a0';
  }

  &.icon-check:before {
    content:'#{$fa-var-check}\00a0';
  }

  &.icon-config:before {
    content:'#{$fa-var-wrench}\00a0';
  }

  &.icon-manual:before {
    content:'#{$fa-var-book}\00a0';
  }

  &.icon-stop:before {
    content:'#{$fa-var-power-off}\00a0';
  }

  &.icon-edit:before {
    content:'#{$fa-var-pencil}\00a0';
  }

  &.icon-fix:before {
    content:'#{$fa-var-exclamation-triangle}\00a0';
  }

  &.icon-search:before {
    content:'#{$fa-var-search}\00a0';
  }

  &.icon-revert:before {
    content:'#{$fa-var-times}\00a0';
  }

  &.icon-delete:before {
    content:'#{$fa-var-trash-o}\00a0';
  }

  &.icon-showMore:before {
    content:'#{$fa-var-search-plus}\00a0';
  }

  &.icon-showLess:before {
    content:'#{$fa-var-search-minus}\00a0';
  }

  &.icon-loader:before {
    // 'spin' from fontAwesome SASS
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    content:'#{$fa-var-spinner}';
  }

  &:hover{
    background:linear-gradient(to bottom, #fafafa, #ddd);
  }

  &:focus {
    outline: 0;
    background: #fafafa;
  }

  // button with icon first
  &[class*='icon-']:before {
    @include icon-font;
    @extend %opaque-light;
    float:left;
    margin:0 1em 0 -1em;
    padding:0 .2em;
    box-shadow:1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  }

  &.primary {
    border:1px solid #007;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    color:#fff;
    background:linear-gradient(to bottom, #da4, #b72);

    &:hover {
      background:linear-gradient(to bottom, #eb5, #c83);
    }

    &:active {
      background:linear-gradient(to bottom, #c94, #a62);
    }

    &:focus {
      outline: 0;
      background: #88f;
    }
  }

  &[disabled],
  &[disabled]:hover {
    background: #eee;
    color: #aaa;
    border-color: #aaa;
    text-shadow: none;
    box-shadow:none;
  }

  &[type="submit"] .errors {
    font-style:italic;
  }
}

label.disabled {
  opacity:$ycu-var-opacity-form-text-light;
}

// jQuery UI spinner
.ui-spinner input {
  border-width:0;
}