body#viewLog {
  #logContent {
    code {
      color:#000;

      span {
        display:block;
      }
    }

    .level-debug {
      opacity:0.7;
    }
    .level-info {
      color:$ycu-var-color-info-text;
    }
    .level-severe {
      font-weight:bold;
      color:$ycu-var-color-error-text;
    }
    .level-system {
      color:#EE22CE;
    }
    .level-warning {
      font-weight:bold;
      color:$ycu-var-color-warning-text;
    }
  }
}