/** YAML layout */
$ycu-var-sidebar-width:250px;

.ym-column {
  display:block;
  overflow:hidden;
  padding-right:$ycu-var-sidebar-width;
  width:auto;
}
.ym-col1 { /* content */
  position:relative;
  float:left;
  width:100%;
}
.ym-col3 { /* sidebar */
  position:relative;
  float:left;
  width:$ycu-var-sidebar-width;
  margin:0 -#{$ycu-var-sidebar-width} 0 0;
}

/** Page layout */
header {
  $logo-width:103px;
  height:auto;
  box-shadow:0 4px 5px rgba(50,50,50,0.4);
  border-bottom:3px solid $ycu-var-color-nav-border;

  .headRow,
  .content {
    margin-left:$logo-width;
    padding-left:0.5em;
  }

  .headRow {
    background-color:$ycu-var-color-header-bg;
  }

  .subRow {
    padding: {
      top:0.5em;
      bottom:0.5em;
    }
    background-color:$ycu-var-color-nav-bg;
    @extend %font-sans;
    font-size:0.9em;
  }

  .logo {
    position:absolute;
    overflow:visible;
    left:0;
    top:0;
    width:$logo-width;
    margin:0.5em;
  }

  .menu.empty {
    height:2em;
  }

  .search {
    margin-bottom:0.2em;
  }

  label {
    padding-right:0.5em;
  }

  form {
    margin:0;
  }

  input {
    margin: {
      left:0.8em;
      right:0.3em;
    }
    padding:0.2em;
    width:20em;
  }

  button {
    text-shadow:0;
  }

  input,
  button {
    margin: {
      top:0;
      bottom:0;
    }
    -moz-box-sizing:content-box;
    box-sizing:content-box;
  }
}

nav {
  padding:0;
  margin:0;
  ul {
    font-size:0.8em;
    padding:0;
  }
}

h1.greeting {
  font-style:italic;
  float:right;
  font-size:1.2em;
  opacity:0.9;
  padding:0;
  margin:0;
  margin-right:1.5em;
}

#searchProgress {
  height:1em;
}

main {
  a:before {
    display:none;
  }
}

#resultsList {
  margin-right:1em;
}

.searchResult {
  margin: {
    bottom:2em;
    left:-0.5em;
  }
  padding:0.5em;
  border-radius:5px;

  &:hover {
    background-color:lighten($ycu-var-color-page-bg, 5);
  }

  .icon {
    float:left;

    .controls {
      font-size:0.8em;
      line-height:1.3em;
      text-align:center;

      > * {
        display:block;
      }

      a {
        i {
          opacity:0.6;
        }

        &:hover i {
          opacity:1;
        }
      }
    }
  }

  .content {
    margin-left:30px;
  }

  .icon,
  h1 {
    line-height:1.5em;
    font-size:1.3em;
    margin:0;
    font-weight:bold;
  }

  .urlInfo {
    font-size:0.9em;

    span {
      $spacing:0.3em;
      display:inline-block;
      padding:0;
      padding-right:$spacing;

      &:not(:first-of-type):before {
        content:'|';
        display:inline-block;
        padding-right:$spacing;
      }
    }

    a.iconic {
      font-size:1.2em;
    }
  }

  .date {
    font-style:italic;
  }

  .tags {
    display:block;
  }

  .snippet {
    @extend %font-sans;
    word-wrap:break-word;

    &:after {
      content:'\2026'; // horizontal ellipsis
    }
  }

  h1 {
    display:inline-block;
  }

  p {
    margin-bottom:0.5em;

    &.url {
      font-size:0.9em;
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;

      &:hover {
        text-overflow:inherit;
        white-space:inherit;
      }
    }
  }

  p:last-of-type {
    margin-bottom:0;
  }
}

.urlActions {
  margin-bottom:0.3em;
  opacity:0.7;
}

#searchTrailer {
  @extend %font-sans;

  .ui-widget {
    @extend %font-sans;
  }

  .ym-cbox > div {
    margin-top:1em;
    width:220px;
  }
  .ym-cbox > div:first-of-type {
    margin-top:0;
  }

  label {
    display:block;
  }

  fieldset {
    padding:0.5em;

    legend {
      font-size:0.8em;
      padding:0 0.3em;
    }
  }
}

#tagCloud {
  text-align:justify;

  a {
    padding:3px;

    &:hover {
      border-radius:5px;
      color:#fff !important;
    }
  }
}