body#surftips {
  #searchResults {
    .searchResult {
      border:1px solid darken($ycu-var-color-page-bg, 5);
      border-radius:5px;
      background-color:lighten($ycu-var-color-page-bg, 5);
      padding:1em;
      margin-bottom:1em;
    }

    h2 {
      font-size:1.1em;
    }
  }
}