@import 'base';
@import 'forms-backend';
@import 'menu-full';
@import 'dynamic';

/* Dynamic content initial hidden to prevent 'flickering'. */
.hidden {
  display:none;
}
.invisible {
  visibility:hidden;
}

// inline pages
.ym-wbox.inline {
  padding: {
    left:0;
    top:0;
    // leave shadows intact
    right:6px;
    bottom:6px;
  }
}

// general icon classes
.icon-item-new:before {
  @extend %icon-block-light;
  content:'#{$fa-var-plus-square}';
}
.icon-item-queued:before {
  @extend %icon-block-light;
  content:'#{$fa-var-retweet}';
}
.icon-item-done:before {
  @extend %icon-block-light;
  content:'#{$fa-var-check-square}';
}

/** Stacked fontAwesome symbols **/
@import 'symbols';

/** jQuery Ui customizations **/
@import 'jquery-ui';

/* Form result messages */
#ycu-messages {
  @extend %font-sans;

  > * {
    border-radius:5px;
    padding:0.5em;

    &:before {
      @extend %icon-block;
      margin-right:0.3em;
    }
  }

  .closeBtn {
    float:right;
    cursor:pointer;
    display:inline-block;
    padding-right:0.5em;

    &:before {
      @extend %icon-block-light;
      content:'#{$fa-var-times}';
    }
  }

  .type {
    font-weight:bold;
    display:inline-block;
    margin:0 0.3em;
  }
  .header {
    display:inline-block;
  }
  .content {
    display:block;
    margin-left:1.5em;
  }

  .ycu-message-error {
    background-color:$ycu-var-color-error-bg;
    &:before {
      content:$ycu-var-icon-msg-error;
    }
  }
  .ycu-message-help {
    background-color:$ycu-var-color-help-bg;
    &:before {
      content:$ycu-var-icon-msg-help;
    }
  }
  .ycu-message-info {
    background-color:$ycu-var-color-info-bg;
    &:before {
      content:$ycu-var-icon-msg-info;
    }
  }
  .ycu-message-ok {
    background-color:$ycu-var-color-ok-bg;
    &:before {
      content:$ycu-var-icon-msg-ok;
    }
  }
  .ycu-message-warning {
    background-color:$ycu-var-color-warning-bg;
    &:before {
      content:$ycu-var-icon-msg-warning;
    }
  }
}

// colored feedback text
.error-txt {
  color:$ycu-var-color-error-text;
}
.info-txt {
  color:$ycu-var-color-info-text;
}
.warning-txt {
  color:$ycu-var-color-warning-text;
}
.ok-txt {
  color:$ycu-var-color-ok-text;
}

iframe {
  display:block;
  //width:100%;
  border-width:0;
  margin:0 auto;
}

.border {
  border:1px solid #ccc;
}

// number & spacing for top level headings
main .ym-wbox:first-of-type {
  // header spacing
  *:not(#api):not(#ycu-messages):not(script) {
    + h1 {
      margin-top:2em;
    }
    + h2 {
      margin-top:1.5em;
    }
    + h3, + h4, + h5, +h6 {
      margin-top:1em;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform:capitalize;
  }
  h1:before, h2:before, h3:before {
    opacity:0.7;
  }
  h1.numbered,
  > h1 {
    counter-reset:h2-counter;

    &:not(.noNumber):before {
      content:counter(h1-counter)'.\00a0';
      counter-increment:h1-counter;
    }
  }
  h2.numbered,
  > h2 {
    counter-reset:h3-counter;

    &:not(.noNumber):before {
      content:counter(h1-counter)'.'counter(h2-counter)'.\00a0';
      counter-increment:h2-counter;
    }
  }
  h3.numbered,
  > h3 {
    &:not(.noNumber):before {
      content:counter(h1-counter)'.'counter(h2-counter)'.'counter(h3-counter)'.\00a0';
      counter-increment:h3-counter;
    }
  }
}

// control type icons
.icon-control-run:before,
.icon-control-pause:before,
.icon-control-stop:before {
  @extend %icon-block;
}
.icon-control-run:before {
  content:'#{$fa-var-play}';
}
.icon-control-pause:before {
  content:'#{$fa-var-pause}';
}
.icon-control-stop:before {
  content:'#{$fa-var-stop}';
}

/** Pages specific CSS */
@import 'page-crawl-start';
@import 'page-host-browser';
@import 'page-network';
@import 'page-rss-terminal';
@import 'page-status';
@import 'page-surftips';
@import 'page-terminal';
@import 'page-view-log';

body#rssTerminal {
  background:transparent;
}
body#configProperties {
  .filtered {
    display:none;
  }
}